header {
  background: $header;
  width: 30%;
}

.header-tagline {
  padding:0 15px;
  text-align: center;

  img {
    width: 75px;
    display:block;
    margin: 25px auto 10px;
  }

  h3 {
    font-size: .8rem;
    padding-bottom: 5px;
  }
}

// .logo {
//   padding: 13px 7px;
//   width: 75px;
//   display: block;
//   text-align: center;
//   // -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
//   // -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
//   // box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
// }


nav {

  ul {

    li {
      display: block;

      a {
        display: block;
        cursor: pointer;
        color: #333;
        text-decoration: none;
        // margin: 10px 2px;
        padding: 25px 15px;
        transition: background .5s;
        -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
      }
      a:hover, a:focus {
        background: #fff;
      }
    }
  }
}


// Mobile Navigation
.mobile {
  display: none;
}

.hamburger {
  color: #333;
  font-size: 20px;
  padding: 5px 8px;
  margin-left: 25px;
  position: relative;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition: background .5s;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
}
.hamburger:hover, .hamburger:focus {
  background: #fff;
}


.hamburger-menu {
  display: none;
  position: absolute;
  right:-2px;
  top:35px;
  z-index: 100;

  li {
    display:block;
    a {
      display: block;
      width: 100px;
      padding: 8px 10px;
      background: $header;
    }
  }
}
