///////////////////////////
// Login, Signup Page ////
/////////////////////////

#login-page {

  section{
    -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 3%;
    max-width: 1024px;
    width: 90%;
  }
}

.login-shape, .login-input {
  min-height: 650px;
  width: 50%;
  padding-top: 50px;
}

.login-shape {
  background: url("../images/login-shapes.gif");
  background-position: center;
  background-repeat: no-repeat;
}

// Style logo and caption on page

.bold {
  font-weight: 700;
}

.login-input {
  text-align: center;
  background:#fff;

  .login-header {
    margin: 10px 20px;

    img {
      width: 20%;
    }
    h3 {
      font-size: .9rem;
      font-weight: 300;
      width: 60%;
      margin: 0 auto;
    }
  }
}

.rememberMe {
  display: block;
  font-size: .8rem;
  margin-top: 15px;
}

.forgot-password{
  margin-top: 15px;
  display: inline-block;
  border:1px solid transparent;
  font-size: .8rem;
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}
.forgot-password:hover {
  border-bottom: 1px solid #53b98f;
  color: #53b98f;
}

.login-error {
  font-size: .8rem;
  color: #9b1c1f;
}
