@media (min-width: 768px) {
  .menu {
    display: block !important;
  }
}

@media (max-width:767px) {

// Teacher Message Navigation

  header {
    width: 100%;
    display:block;
  }

  .mobile-toggle {
    display: block;
  }

  .menu {
    display: none;
  }

  nav {
    ul {
      text-align: center;
      li {
        a {
          padding: 10px 15px;
        }
        a:hover, a:focus, a:active {
          background: #fff;
        }
      }
    }
  }

  // Teacher Page Message
  .message-container {
    width: 100%;
  }


  // Login Page
  .login-input .login-header{
    margin: 10px;

    h3 {
      width: 90%;
    }
  }

  .remodal {
    .modal-content{
      width: 50%;
      top: 20%;
    }
  }
  // Signup Page One Column

  .faq, .signup {
    width: 100%;
    padding: 25px 35px;
  }

  .faq-content {
    .question {
      padding: 0;
    }
  }

  .signup {
    .input-wrapper {
      margin: 5px 10px;
    }
  }

}

@media (max-width: 585px) {

  #login-page section{
    box-shadow: none;
  }

  // login page
  .login-shape{
    display: none;
  }

  .login-input {
    min-height: 650px;
    width: 90%;
    padding-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  // Modal Styles
 .remodal .modal-content {
    width: 65%;
  }

  #modal h3 {
    margin-bottom: 15px;
  }

  #modal button {
    margin: 5px auto;
  }

  // teacher page
  .header-tagline {
    p {
      display: none;
    }
  }

  // History Message Log Page
  #history-log {

    section {
      width: 80%;
      margin: 25px auto 3%;
      padding: 25px;

      form {
        display: block;

        button {
          margin: 10px auto;
        }
      }
      button {
        display: block;
        margin: 10px auto;
      }
    }
  }

  table {
    tr {
      th, td{
        padding: 10px 7px;
        font-size: .85rem;
      }
    }
  }

}
