#change-password {
  background: url("../images/login-shapes.gif");
  background-repeat: repeat;

   section {
     -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background: #fff;
     max-width: 1024px;
     width: 50%;
     margin: 25px auto 3%;
     min-height: 650px;
     padding: 25px;
     text-align: center;
   }
 }
