.faq, .signup {
  background:#fff;
  margin: 0 auto;
}

#signUpPage {
  display: flex;
  justify-content: top;
  // background: #fff;
  max-width: 1024px;
  width: 90%;
  margin: 25px auto;
}

//fit login form style

.faq {
  width: 53%;
  margin-right: 3%;
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // border-bottom: 15px solid $header;

  .faq-header {
    background: $header;
    // height: 65px;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    img {
      margin-right: 15px;
      width: 50px;
    }
    .tagline {
      h3{
        font-size: .8rem;
      }
    }
  }
}
.faq-content {
  // font-size: .9rem;
  padding: 5px 50px 25px;
  h3 {
    font-weight: 700;
    margin: 15px 0 5px;
  }
}

.signup {
  width: 45%;
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


// Parent Sign Up Page

// Styling Form

.signup {
  padding: 10px;
  box-sizing: border-box;

  form {
    text-align: center;
    margin: 15px 0;

    legend {
      text-align:center;
      margin: 8px auto;
      display:block;
    }
  }
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin: 5px;

  label {
    position:absolute;
    top: 10px;
    left:15px;
    z-index: 5;
    margin: 10px;
    padding: 0 2px;
    font-size: .8rem;
    font-weight: 500;
    background: #fff;
    pointer-events: none;
    transition:transform 100ms ease;
    transform:translateY(-10px);
  }
  input {
    font-size: .8rem;
    // position: relative;
    border:1px solid $accent;
    padding: 10px;
  }
  // input:invalid ~ label {
  //   transform:translateY(-27px);
  // }
  // input:focus {
  //   border-color: $primary;
  // }
  // input:focus ~ label {
  //   color: $primary;
  //   transform:translateY(-27px);
  // }
}


// Adding Additional Contact or Student Fields
.border-seperation {
  margin: 15px 0;
  border:3px solid $accent;
}

.contactInfo {
  display:none;
}

.addContact{
  padding: 5px;
  cursor: pointer;
  font-size: .9rem;

  .plus {
    border-radius: 3px;
    padding: 2px 7px;
    background: $primary;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    transition: all .5s;
    -webkit-transition: all 0.5s;
  }
  .plus:hover,
  .plus:focus {
    background: rgba(26,177,116,.8);
  }
}
