#teacherSendMessage {

  section {
    -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: top;
    flex-wrap: wrap;
    background: #fff;
    max-width: 1024px;
    min-height: 650px;
    width: 90%;
    margin: 25px auto 3%;
  }

  #messageSendButton {
    margin: 0 auto;
  }
}

.message-container {
  background: #fff;
  width: 60%;
  margin: 50px auto;
  position: relative;
}

.container-title {
  text-align: center;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#startTour{
  position: absolute;
  right: -35px;
  top: -21px;
  min-width: 75px;
  background: $red;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
  transform: rotate(-90deg);
  transition: background 1s;
}

#startTour:hover {
  background: #b72f32;
}

#studentNameArea {
  font-size: .8rem;
  font-family: 'Signika', sans-serif;
  margin: 5px 25px;
}

.message {
  width: 90%;
  margin: 0px auto;
  border-top: 10px solid $primary;
  border-bottom: 10px solid $primary;
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .message-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  input::placeholder {
    color: #333;
  }

  form {
    padding: 20px 0;

    textarea {
      font-family: 'Signika', sans-serif;
      font-size: .8rem;
      width: 100%;
      display: block;
      margin: 15px 5px 25px;
      padding: 5px;
      box-sizing: border-box;
      height: 150px;
      vertical-align: top;
      border-color: $accent;
    }
  }
}

//////////////////////
// Hopscotch Styles///
/////////////////////

div.hopscotch-bubble .hopscotch-bubble-close {
    display:none;
}

div.hopscotch-bubble, {
  background: $header;
  border-color: $red;
  font-family: 'Signika', sans-serif;

  .hopscotch-bubble-number {
    color: #333;
    font-size: 1.5rem;
  }

  h3, .hopscotch-content{
    font-family: 'Signika', sans-serif;
    color: #333;
  }

  .hopscotch-bubble-container {
    padding: 8px !important;
  }
}

// Yellow arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 17px solid $red;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border{
  border-top: 17px solid $red;
}

// Yellow background on arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border-right: 17px solid $header;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 17px solid $header;
}

// Next
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  background: #b72f32;
}


div.hopscotch-bubble .hopscotch-nav-button.next {
  min-width: 100px;
  margin: 5px auto;
  border-color: $red;
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-color: $red;
}

//////////////////////
// Alertify Styles///
////////////////////

// .alertify-logs {
//   background: transparent;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
// }
