#teacherSendMessage {

  section {
    -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: top;
    flex-wrap: wrap;
    background: #fff;
    max-width: 1024px;
    width: 90%;
    margin: 25px auto 3%;
  }
}

.message-container {
  background: #fff;
  width: 60%;
  margin: 50px auto;
  position: relative;
}

.container-title {
  border-top: 10px solid $primary;
  text-align: center;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#startTour{
  position: absolute;
  right: 0px;
  top: -60px;
  min-width: 100px;
  background: $primary;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background 1s;
}
#startTour:hover {
  background:  #53b98f;
}

.message {
  width: 90%;
  margin: 0px auto;
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .input-wrapper{
    padding: 5px 15px;
  }

  #studentNameArea {
    font-size: .8rem;
    font-family: 'Signika', sans-serif;
  }

  form {
    padding: 20px 0;
    border-bottom: 10px solid $primary;

    .select-style {
      margin: 0 5px;
      padding: 10px 15px;
    }

    textarea {
      font-size: .8rem;
      width: 90%;
      display: block;
      margin: 0 auto 40px;
      padding: 5px;
      box-sizing: border-box;
      height: 150px;
      vertical-align: top;
      border-color: $accent;
    }
  }
}

//////////////////////
// Hopscotch Styles///
/////////////////////

div.hopscotch-bubble .hopscotch-bubble-close {
    display:none;
}

div.hopscotch-bubble, {
  background: $header;
  border-color: $header;
  font-family: 'Signika', sans-serif;

  .hopscotch-bubble-number {
    color: #333;
    font-size: 1.5rem;
  }

  h3, .hopscotch-content{
    font-family: 'Signika', sans-serif;
    color: #333;
  }

  .hopscotch-bubble-container {
    padding: 8px !important;
  }
}

// Yellow arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 17px solid $header;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border{
  border-top: 17px solid $header;
}

// Yellow background on arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border-right: 17px solid $header;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 17px solid $header;
}

// Next
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  background-color: #53b98f;
}


div.hopscotch-bubble .hopscotch-nav-button.next {
  min-width: 100px;
  margin: 5px auto;
  border-color: $primary;
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-color: $primary;
}
