#teacherSendMessage {

  .teacherSection {
    -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: top;
    flex-wrap: wrap;
    background: #fff;
    max-width: 1024px;
    min-height: 650px;
    width: 90%;
    margin: 25px auto 3%;
  }

  #messageSendButton {
    margin: 0 auto;
  }
}

.message-container {
  background: #fff;
  width: 60%;
  margin: 50px auto;
}

.container-title {
  text-align: center;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

// .tour-wrapper {
//   position: relative;
//   min-width: 100px;
//   right: 0px;
//   top: 0px;
//   border: 1px solid blue;

  .fa-eye {
    position: absolute;
    top: -25px;
    right: 30px;
    z-index: 100;
    color: #fff;
  }

  #startTour{
    position: absolute;
    top: 0;
    right: -25px;
    min-width: 75px;
    background: $red;
    color: #fff;
    font-weight: 500;
    -webkit-box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
    box-shadow:0 0px 10px rgba(0, 0, 0, 0.6);
    transform: rotate(-90deg);
    transition: background 1s;
  }
// }

#startTour:hover {
  background: #b72f32;
}

#studentNameArea {
  font-size: .8rem;
  font-family: 'Signika', sans-serif;
  margin: 5px;
  background: $accent;
  width: 100%;

  input {
    font-family: 'Signika', sans-serif;
    line-height: 1.6;
    padding: 5px;
    margin: 5px;
    border: 1px solid $primary;
  }

  .deletebutton {
    font-size: 1rem;
    position: relative;

    .fa-times {
      position: absolute;
      top: -3px;
      right: 8px;
    }
  }
}

.message {
  position: relative;
  width: 90%;
  margin: 0px auto;
  border-top: 10px solid $primary;
  border-bottom: 10px solid $primary;
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .message-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  input::placeholder {
    color: #333;
  }

  form {
    padding: 0 0 20px;

    textarea {
      font-family: 'Signika', sans-serif;
      font-size: .8rem;
      width: 100%;
      display: block;
      margin: 15px 5px 25px;
      padding: 5px;
      box-sizing: border-box;
      height: 150px;
      vertical-align: top;
      border-color: $accent;
    }
  }
}

//////////////////////
// Hopscotch Styles///
/////////////////////

div.hopscotch-bubble .hopscotch-bubble-close {
    display:none;
}

div.hopscotch-bubble, {
  background: $header;
  border-color: $red;
  font-family: 'Signika', sans-serif;

  .hopscotch-bubble-number {
    color: #333;
    font-size: 1.5rem;
  }

  h3, .hopscotch-content{
    font-family: 'Signika', sans-serif;
    color: #333;
  }

  .hopscotch-bubble-container {
    padding: 8px !important;
  }
}

// Yellow arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 17px solid $red;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border{
  border-top: 17px solid $red;
}

// Yellow background on arrow
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border-right: 17px solid $header;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 17px solid $header;
}

// Next
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  background: #b72f32;
}


div.hopscotch-bubble .hopscotch-nav-button.next {
  min-width: 100px;
  margin: 5px auto;
  border-color: $red;
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-color: $red;
}

//////////////////////
// Alertify Styles///
////////////////////

.alertify,
.alertify-log {
	font-family: 'Signika', sans-serif;
}

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: #9b1c1f;
  border: 1px solid #9b1c1f;
}

.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
  background-color: #1ab174;
  border: 1px solid #1ab174;
}

.alertify-log {
padding: 15px;
border-radius: 0px;
color: #FFF;
text-shadow: none;
}

.alertify-log-error {
background: #9b1c1f;
background: rgba(155,28,31,.9);
}

.alertify-log-success {
  background: #1ab174;
  background: rgba(26,177,116,.9);
}
