// Signup Side with form styled on style.scss
//fit login form style

.faq {
  border-right: 1px solid #333;
  width: 55%;
  margin: 25px 0;
  padding: 25px;

  img {
    max-height: 250px;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
  }

  hr {
    margin: 15px;
  }

  h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  h3 {
    font-weight: 700;
    margin: 15px 0 5px;
  }
}
