// Variables

$primary:#00b074; //green
$secondary:#e88510; //orange
$header: #faf0a1; //yellow
$red: #9b1c1f; //red
$accent:#ececec; //off white for background

@import "partials/header";
@import "partials/teacher";
@import "partials/login";
@import "partials/loginModal";
@import "partials/signUpPage";
@import "partials/history";

* {
  margin:0;
  padding:0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Signika', sans-serif;
  color: #333;
  background: $accent;
}

button, input, select, textarea, label {
  font-family: 'Signika', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.fa-times {
  text-shadow: 2px 2px #ddd;
}

.fa-times:hover,
.fa-times:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: 'Signika', sans-serif;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  color: #333;
  font-weight: 700;
  min-width: 200px;
  padding: 10px 30px;
  border: none;
  outline: 0;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.send {
  background: $primary;
}
.send:hover,
.send:focus {
  background: #53b98f;
}

.update {
  background: $secondary;
}
.update:hover,
.update:focus {
  background: #e2994e;
}

input, textarea {
  outline: none;
}

input:-webkit-autofill {
    color: #fff !important;
}

// Login Input/////////////
//  Sign Up Input//


fieldset {
  border:none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 700;
  margin: auto;
}

.clearfix::after{
  content:"";
  clear: both;
  display: block;
}

@import "partials/media";
