<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reset Your Password</title>
</head>
<body>


<form method="post" action="#" th:action="@{/passwordResetSubmit}">
    <label>
        <span>Enter Your Password: </span>
        <input type="text" name="password"/>
    </label>
    <input type="hidden" name="userId" th:value="${userId}"/>
    <input type="hidden" name="email" th:value="${email}"/>
    <button>Submit</button>

</form>


</body>
</html>