<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Forgot Your Password?</title>
</head>
<body>

<form action="forgotPassword.html" th:action="@{/forgotPassword}">
    <fieldset>
        <legend>Reset Your Password</legend>
        <label for="registerPrimaryFirstName">
            Primary First Name <input type="text" id="registerPrimaryFirstName" name="registerPrimaryFirstName" th:value="${parent.getPrimaryFirstName()}"/>
        </label>
        <br/>
        <label for="registerPrimaryLastName">
            Primary Last Name <input type="text" id="registerPrimaryLastName" name="registerPrimaryLastName" th:value="${parent.getPrimaryLastName()}"/>
        </label>
        <br/>
        <label for="registerSecondaryFirstName">
            Secondary First Name <input type="text" id="registerSecondaryFirstName" name="registerSecondaryFirstName" th:value="${parent.getSecondaryFirstName()}"/>
        </label>
    </fieldset>
</form>

</body>
</html>