<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Forgot Your Password?</title>
</head>
<body>

<form action="forgotPassword.html" th:action="@{/passwordResetEmail}">
    <fieldset>
        <legend>Find Your Account</legend>
        <label for="searchEmail">
            Please enter your email address <input type="text" id="searchEmail" name="email" value=""/>
        </label>
    </fieldset>
    <button>Search</button>
</form>


</body>
</html>