<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Teacher Talk</title>
</head>
<body>

<form action="login.html" th:action="@{/login}" method="post">
    <fieldset>
        <legend>Teacher Talk Login</legend>
        <label for="loginEmail">
            Email <input type="text" id="loginEmail" name="loginEmail" th:value="${userEmail}"/>
        </label>
        <label for="loginPassword">
            Password <input type="password" id="loginPassword" name="loginPassword" th:value="${userPassword}"/>
        </label>
        <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe"  th:checked="${rememberMe}" />
        <label for="rememberMe">Remember me?</label>
    </fieldset>
    <button type="submit">Login</button>
</form>

<a href="teacherSignUp.html" th:href="@{/teacherSignUp}"><button type="submit">Sign-Up Teacher</button></a>
<a href="parent.html" th:href="@{/parentSignUp}"><button type="submit">Sign-Up Parent</button></a>


</body>
</html>