<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Teacher Talk</title>

    <script th:href="@{https://use.fontawesome.com/f2bdd0ae67.js}" src="https://use.fontawesome.com/f2bdd0ae67.js"></script>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>

<body id="login-page">

  <div class="login-shape"></div>

  <div class="login-input">
    <img src="../static/images/teacher-talk-logo.gif" th:src="${'images/teacher-talk-logo.gif'}" alt="teacher talk logo" />
    <h1>Teacher Talk</h1>
    <h3>Where communication between teachers and parents has never been easier.</h3>
    <form action="login.html" th:action="@{/login}" method="post">
      <fieldset>
        <legend>Login</legend>
        <label for="loginEmail" class="loginEmail">
            Email
            <input type="text" id="loginEmail" name="loginEmail" th:value="${userEmail}"/>
        </label>
        <label for="loginPassword" class="loginPassword">
            Password
            <input type="password" id="loginPassword" name="loginPassword" th:value="${userPassword}"/>
        </label>
        <label for="rememberMe" class="rememberMe">
          <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe"  th:checked="${rememberMe}" />
        Remember me?
        </label>
      </fieldset>
      <p>Forgot Password</p>
      <button type="submit" class="send">Login</button>
      <!-- <button type="submit"><a href="teacherSignUp.html" th:href="@{/teacherSignUp}">Sign-Up</a></button> -->
    </form>
    <button id="openModal" class="update">Sign Up</button>



    	<!-- Modal -->
      <!-- <div class="modal-bkgrd"></div> -->
    	<div id="modal" class="remodal" role="dialog" aria-hidden="true">
  			<div class="modal-content">
          <i class="fa fa-times close" aria-label="close" aria-hidden="true"></i>
  				<h3>Which Account Would You Like to Create?</h3>
          <a href="parent.html"><button class="update">Parent</button></a>
          <a href="teacherSignUp.html"><button class="update">Teacher</button></a>
  			</div>
    	</div>



  </div>

  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script th:src="@{/js/modal.js}" src="../static/js/modal.js"></script>

</body>
</html>
