<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Teacher Talk</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>

<body id="signUpPage">

  <section>
    <div class="faq">
      <!-- <div class="faq-header">
        <img src="../static/images/teacher-talk-logo.gif" th:src="${'/images/teacher-talk-logo.gif'}"
           alt="teacher talk logo"/>
        <div class="tagline">
         <h1>Teacher Talk</h1>
         <h3>Empowering <span class="bold">Education</span> Through Better <span class="bold">Communication</span>.</h3>
       </div>
      </div> -->

      <div class="faq-content">
        <div class="question">
          <h3>What is Teacher Talk?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="question">
          <h3>Why is this useful?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="question">
          <h3>How does it work?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="question">
          <h3>Can I make my own message template?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="question"></div>
      </div>
    </div>

    <div class="signup">
      <form id="signUpForm" action="parent.html" th:action="@{/parentSignUp}">
        <fieldset>
          <legend>Parent Registration</legend>

          <div class="input-wrapper">
            <input type="text" id="registerPrimaryFirstName" name="registerPrimaryFirstName" th:value="${parent.getPrimaryFirstName()}" required="required"/>
            <label for="registerPrimaryFirstName">First Name </label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="registerPrimaryLastName" name="registerPrimaryLastName" th:value="${parent.getPrimaryLastName()}" required="required" />
            <label for="registerPrimaryLastName">Last Name* </label>
          </div>
          <div class="input-wrapper">
            <input type="email" id="registerPrimaryEmail" name="registerPrimaryEmail" th:value="${parent.getPrimaryEmail()}" required="required"/>
            <label for="registerPrimaryEmail"> Email* </label>
          </div>
          <div class="input-wrapper">
            <input type="password" id="registerPassword" name="registerPassword" th:value="${parent.getPassword()}" required="required"/>
            <label for="registerPassword">Password* </label>
          </div>
          <div class="input-wrapper">
            <input type="number" id="registerPhoneNumber" name="registerPhoneNumber" th:value="${parent.getPhoneNumber()}" required="required"/>
            <label for="registerPhoneNumber"> Phone Number* </label>
          </div>
          <aside class="border-seperation"></aside>

          <div class="addContact">Add Another Parent <span class="plus">+</span></div>
          <div class="contactInfo">
            <div class="input-wrapper">
              <input type="text" id="registerSecondaryFirstName" name="registerSecondaryFirstName" th:value="${parent.getSecondaryFirstName()}"/>
              <label for="registerSecondaryFirstName">First Name </label>
            </div>
            <div class="input-wrapper">
              <input type="text" id="registerSecondaryLastName" name="registerSecondaryLastName" th:value="${parent.getSecondaryLastName()}"/>
              <label for="registerSecondaryLastName">Last Name </label>
            </div>
            <div class="input-wrapper">
              <input type="email" id="registerSecondaryEmail" name="registerSecondaryEmail" th:value="${parent.getSecondaryEmail()}"/>
              <label for="registerSecondaryEmail">Email </label>
            </div>
          </div>
          <aside class="border-seperation"></aside>

          <legend>Student Registration</legend>
          <div class="input-wrapper">
            <input type="text" id="" name="" th:value="${parent.getPrimaryFirstName()}" required="required"/>
            <label for="">First Name* </label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="registerPrimaryLastName" name="registerPrimaryLastName" th:value="${parent.getPrimaryLastName()}" required="required" />
            <label for="">Last Name* </label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="" name="" th:value="${parent.getPassword()}" required="required"/>
            <label for="">School* </label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="" name="" th:value="${parent.getPhoneNumber()}"/>
            <label for="">Notes </label>
          </div>
          <aside class="border-seperation"></aside>

          <div class="addContact">Add Another Student <span class="plus">+</span></div>
          <div class="contactInfo">
            <div class="input-wrapper">
              <input type="text" id="" name="" th:value="${parent.getPrimaryFirstName()}" />
              <label for="">First Name </label>
            </div>
            <div class="input-wrapper">
              <input type="text" id="registerPrimaryLastName" name="registerPrimaryLastName" th:value="${parent.getPrimaryLastName()}" />
              <label for="">Last Name </label>
            </div>
            <div class="input-wrapper">
              <input type="text" id="" name="" th:value="${parent.getPassword()}" />
              <label for="">School </label>
            </div>
            <div class="input-wrapper">
              <input type="text" id="" name="" th:value="${parent.getPhoneNumber()}"/>
              <label for="">Notes </label>
            </div>

            <!-- 3rd Student -->
            <div class="border-seperation"></div>
            <div class="addContact">Add Another Student <span class="plus">+</span></div>
            <div class="contactInfo">
              <div class="input-wrapper">
                <input type="text" id="" name="" th:value="${parent.getPrimaryFirstName()}" />
                <label for="">First Name </label>
              </div>
              <div class="input-wrapper">
                <input type="text" id="registerPrimaryLastName" name="registerPrimaryLastName" th:value="${parent.getPrimaryLastName()}" />
                <label for="">Last Name </label>
              </div>
              <div class="input-wrapper">
                <input type="text" id="" name="" th:value="${parent.getPassword()}" />
                <label for="">School </label>
              </div>
              <div class="input-wrapper">
                <input type="text" id="" name="" th:value="${parent.getPhoneNumber()}"/>
                <label for="">Notes </label>
              </div>
            </div>
          </div>
          <aside class="border-seperation"></aside>

          <!-- <legend>Preferred Contact Method</legend>
          <select name = "preferredContactMethod">
            <option value=""></option>
            <option value="phone" th:value="${parent.getPreferredContactMethod()}">Phone</option>
            <option value="text">Text</option>
            <option value="email">Email</option>
            <option value="both">Both</option>
          </select> -->

        </fieldset>
        <button type="submit" class="update">Register</button>
      </form>
      <!-- <a href="login.html" th:href="@{/}"><button type="submit" class="update">Register</button></a> -->
    </div>
  </section>

  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script th:src="@{js/signup.js}" src="../static/js/signup.js"></script>

</body>
</html>
